VITE_API_BASE_URL=https://swiftrescue-backend-shlb.onrender.com
# TomTom Maps SDK Frontend Key (Domain restricted in TomTom dashboard)
VITE_TOMTOM_MAPS_KEY=
# CARTO Basemaps API Key
VITE_CARTO_API_KEY=cb1_3qpq_1_d4ebbcec5e84c1e34460888f
